@import url('https://fonts.googleapis.com/css?family=Cairo');
*{
  font-family: cairo;
}
.upper-bar{
  background-color: #08526d;
  color: #FFF;
  padding: 10px;
}

.upper-bar span{
  color: #bfc6c9;
}

.upper-bar .get-quote{
  display: inline-block;
  border: 1px solid #ec1c23;
  padding: 2px 10px;
  margin-left: 20px;
}
/* end upper bar */

/*start navbar*/
.navbar-brand > span{
  font-size: 20px;
}

.navbar-brand span:first-child {
    color: #08526d;
    font-weight: bold;
  }
  .navbar-brand span:last-child {
    color: #ec1c23;
  }
.navbar .nav-link{
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 20px;
  color: #08526d;
  font-weight: bold;
}
.navbar-nav .active > .nav-link {
  color: #ec1c23 !important

}
/*end navbar*/
/* start slider  --> */
.slider{
  background-color: #DDD;
}
.slider .carousel-inner{
  display: flex;
  align-items: center;
  justify-content: left;
}

.slider .carousel-inner h1{
  position: absolute;
  color: #FFF;
  z-index: 3;
  font-size: 70px;
  max-width: 900px;
  line-height: 1.5;
  left: 100px;
}
.slider .carousel-inner h1 span {
  background-color: #ec1c23;
  color: #FFF;
  display: inline-block;
  padding: 2px 10px;
}
.slider .carousel-inner .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0 ,0 ,0 ,.6);
  z-index: 2
}
.slider .carousel-item{
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}
.carousel-item .zed {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.slider .carousel-indicators li{
  height: 8px;
  cursor: pointer;
}
@media screen and (max-width:1024px) {
.edito{
  font-size: 3rem !important;
}
}
@media screen and (max-width:750px) {
.edito{
  font-size: 2.5rem !important;
}
}
@media screen and (max-width:500px) {
.edito{
  font-size: 1.4rem !important;
  left: 70px !important;
}
}
@media screen and (max-width:573px) {
.edito{
  font-size: 2rem !important;
  left: 50px !important;
}
}
@media screen and (max-width:400px) {
.edito{
  font-size: 1rem !important;
  left: 50px !important;
}
}
@media screen and (max-width:444px) {
.edito{
  font-size: 1.7rem !important;
  left: 50px !important;
}
}
@media screen and (max-width:358px) {
.edito{
  font-size: 1.4rem !important;
  left: 50px !important;
}
}
@media screen and (max-width:390px) {
.edito{
  font-size: 1.4rem !important;
  left: 50px !important;
}
}
@media screen and (max-width:336px) {
.edito{
  font-size: 1.3rem !important;
  left: 50px !important;
}
}
@media screen and (max-width:318px) {
.edito{
  font-size: 1rem !important;
  left: 50px !important;
}
}

/* end slider --> */




/* start features */
.features{
  padding: 50px 0;
}
.features i{
  background-color: #ed1d24;
  color: white;
  padding: 12px;
  margin-bottom: 10px;

}
.features h3{
  color: #08526d;
  font-size: 22px;
}
.features p{
  color: #989898;
  font-size: 22px;
  margin-bottom: 40px;
}
.big{
  background-color: #ec1c23;
  width: auto;
  height: auto;
}
.edit{
  color: white;
  text-transform: capitalize;
}
/*end features  */
/*Start overview  */
.overview{
  padding: 100px 0;
  background-color: #f0f5f7;

}
.overview h2{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}

.overview p{
line-height: 2;
font-size: 20px;
width: 80%;
margin: 0 auto 15px;
color: #6a6a6a;
}

.overview h4{
letter-spacing: 2px;
font-weight: normal;
color: #8b8a8a;
margin-bottom: 40px;
}

.overview button{
background-color: #ed1d24;
color: #FFF;
padding: 10px 30px;
font-size: 20px;
font-weight:bold;
border: 1px solid #ed1d24;
}
/*End overview  */
/*start featured work  */
.featured-work{
  padding: 50px;
}
.featured-work h2{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.featured-work p{
line-height: 1.6;
font-size: 20px;
width: 80%;
margin: 0 auto 15px;
color: #6a6a6a;
}
.featured-work ul{
  margin-top: 40px;
  margin-bottom: 50px;
}
.featured-work ul li{
color: #08526d;
border: 2px solid #08526d;
padding: 10px 20px;
margin-left: 10px;
margin-bottom: 10px;
font-size: 18px;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
}
.rounded-circlee .hassan{
  color: #08526d;
  border: 2px solid #08526d;
  margin-left: 10px 20px;
  margin-bottom: 10px;
  font-size: 43px;
  padding: 16px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.featured-work ul li.active,
.featured-work ul li:hover{
background-color:#ed1d24;
border: 2px solid #ed1d24;
color: #FFF;
}
.featured-work ul li:hover{
  cursor: pointer;
}
.featured-work .shuffle-images .row{
  margin:0
}
.featured-work .shuffle-images .row .col-md{
  padding: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}
.featured-work .row  img{
  width: 100%;
  height: 300px;
}
/* end featured work  */
/* start latest-post */
.latest-post{
  padding: 0 0 100px;;
}
.latest-post .card .card-title{
  font-size: 20px;
  line-height: 1.5;
  color: #08526d;
}
.latest-post .card .card-text{
color: #787878;
margin-bottom: 5px;
}
.latest-post .card .card-link{
color: #ed1d24;
font-weight: bold;
}
.card{
  margin-top: 30px;
}
.latest-post h2{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.latest-post .section-description{
line-height: 1.6;
font-size: 20px;
width: 80%;
margin: 0 auto 45px;
color: #6a6a6a;
}
.card-img-top{
  width: 100%;
  height: 250px;
}
/* end latest-post */
/*start testmonials  */


.caro-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.carousel-caption{
  top: 50%;
  margin-top: -158px;
}
.carousel-caption img{
margin-bottom: 20px;
}
.carousel-caption h3{
  margin-bottom: 5px;
}
.carousel-caption h3 + span{
font-size: 18px;
 display: inline-block;
 margin-bottom: 30px;
}
.img-circle{
 width: 200px;
 border-radius: 50%;
}
.carousel-item  relative-positioning{
  padding-bottom:100px;
}
 .carousel-indicators li{
  height: 8px;
  cursor: pointer;
}

/*end testmonials  */
/*Start pricing Table  */
.pricing-table{
  background-color: #f7f7f7;
  padding: 100px 0 100px;
}
.pricing-table .card-body{
  padding: 0;
}
.pricing-table .card .card-title{
  font-size: 25px;
  line-height: 1.5;
  color: #08526d;
  margin-top: 40px;
}
.pricing-table .card .card-text{
color: #FFF;
margin-bottom: 5px;
margin: 30px 0 10px;
background-color: #08526d;
padding:10px;
font-size: 30px;
font-weight: bold;
}
.pricing-table .card .card-text span{
  font-size: 14px;
  text-transform: uppercase;
}
.pricing-table .list-group-item{
  border: none;
}
.pricing-table .card .card-link{
background-color: #ed1d24;
font-weight: bold;
display: inline-block;
padding: 10px 15px;
margin-top: 15px;
margin-bottom: 30px;
color: #FFF;
font-size: 18px;
text-transform: uppercase;
}
.card{
  margin-top: 30px;
  /* border: none; */
}
.pricing-table h2{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.pricing-table .section-description{
line-height: 1.6;
font-size: 20px;
width: 80%;
margin: 0 auto 85px;
color: #6a6a6a;
}

.card-img-top{
  width: 100%;
  height: 250px;
}
  .pricing-table .card.corporate {
    position: relative;
    top: -20px;
  }

.pricing-table .card.corporate .card-text{
background-color: #ed1d24;
color:#FFF;
}
.pricing-table .card.corporate .card-link{
background-color: #08526d;
}

/*end pricing Table  */
/*Start choose us  */

  .choose-us img{
   width: 110%;
    height: 100%; */
}

.choose-us .other:last-child{
  background-color: #3a2727;
  color:#FFF;
  padding-top: 50px;
}
.choose-us .h1{
margin: 40px;
}
.choose-us p{
margin: 40px;
line-height: 2;
font-size: 18px;
}
.choose-us .read{
display: inline-block;
padding:8px 20px;
margin: 0 0 0 40px;
margin-bottom: 40px;
background-color: #ed1d24;
color: #FFF;
font-size: 20px;
font-weight: bold;
text-transform: uppercase;
}
/*end choose us  */
/*Start Statistics  */
.stats {
  padding: 100px 0;
  color: #08526d;
}
.stats .stat-box{
  margin-bottom: 40px;
}
.stats .number{
display: block;
font-size: 50px;
font-weight: bold;
color: #08526d;
}
.stats p{
font-size: 20px;
color: #ed1d24;
margin-bottom: 0;
}
/* end Statistics */
/*Start contact us  */
.contact-us{
  padding: 80px 0;
  width: auto;
  background-color: #ed1d24;
  color: #FFF;
  font-size: 22px;
}
.contact-us p{
margin: 0;
font-size: 25px;
}
 .near{
font-size: 25px;
color:#FFF !important;
border: 2px solid #FFF;
padding: 6px 15px 8px;
text-transform: uppercase;
font-weight: bold;
}
/*end contact us  */
/*Start footer*/
.footer{
  padding: 100px 0;
}
.footer .site-info h2{
font-size: 50px;
    margin-top: -10px;
    margin-bottom: 30px;
  }
.footer .site-info  h2 span:first-child {
    color: #08526d;
    font-weight: bold;
  }

.footer .site-info h2 span:last-child {
    color: #ec1c23;
  }
  .footer .site-info p{
    line-height: 1.5;
    color: #727272;
  }
  .footer .site-info a{
    color: #08526d !important;
    font-size: 15px;
    font-weight: bold;
  }
    .h12{
      margin-right: 5px;
    }
  .footer .helpful-links h2,
  .footer .contact h2{
        font-size: 22px;
        color: #08526d;
        margin-bottom: 50px;
    }
    .fa-chevron-right:before{
    color: #08526d;
    font-size: 12px;
    position:relative;
    top: -1px;
    }

    .footer .contact ul li{
      margin-bottom: 24px;
    }
/*end footer */
/*Start copyright  */
.copyright{
  border-top: 1.2px solid #c0c0c0;
  padding: 20px;
}
.copyright ul li{
  display: inline-block;
  margin-left: 20px;
  font-size: 22px;
}
.copyright ul{
  margin: 0;
}
.copyright ul li .a{
  color:#3B5998;
}
.copyright ul li .b{
  color:#00aced;
}
.copyright ul li .c{
  color:#bb0000;
}
.copyright ul li .d{
  color:#00aff0;
}
.res{
      /* margin-top: 16px; */
}
/* end copyright  */
